extends layout

block content
  h1 Kurt's ExpressJS Project
  p| This is feeding data into my 
     a(href='https://ko.geckoboard.com/dashboards/950BFB81E52B8870') Geckoboard.
  b Last committed at 11:58
